.main {
    display: flex;
    flex-direction: column;
    padding: 0 12px;

    &__title {
        margin: 0;
        font-size: 40px;
    }

    &__orgs {
        display: flex;
        flex-wrap: wrap;
        gap: 12px;
    }
}