.home-page {
    display: flex;
    flex-direction: column;
    padding: 0 50px;
    box-sizing: border-box;

    &__title {
        margin: 13px 0;
        margin-bottom: 26px;
        font-size: 52px;
        line-height: 44px;
        text-transform: uppercase;
    }

    &__city-location {
        display: flex;
        width:fit-content;
        color: rgb(255, 112, 67);
        cursor: pointer;
        transition: 0.3s ease-in-out;
    }

    &__city-location:hover {
        color: #FF8D69;
    }

    &__city-location:active {
        color: #ed7147;
    }

    &__events-list {
        display: flex;
        gap: 10px;
    }

    &__event-card {
        width: 316px;
    }

    &__more-events-button {
        margin: 0 auto;
        margin-top: 50px;
    }
}