<div class="home-page">
    <app-tui-breadcrumbs [items]="[{ caption: 'Главная', routerLink: '/home' }]"/>
    <h1 class="home-page__title">
        Популярные<br>события в<br>
        <span 
            class="home-page__city-location" 
            routerLink="/home/cities"
            *ngIf="city$ | async as city"
        >
            {{ city.name | cityDeclension }}
        </span>
    </h1>
    <!-- [ ] TODO: превратить список ивентов в карусель -->
    <div 
        class="home-page__events-list"
        *ngIf="events$ | async as events"
    >
        <app-tui-event-card
            class="home-page__event-card"
            *ngFor="let event of events"
            [image]="event.image"
            [title]="event.title"
            [place]="event.place"
            [date]="event.dateStart"
            [price]="event.price"
            [tags]="event.tags"
        />
    </div>
    <app-tui-secondary-button
        class="home-page__more-events-button"
        size="l"
        *ngIf="city$ | async as city"
        [buttonText]="`Больше событий в ${city.name | cityDeclension}`"
        [buttonIconRight]="'@tui.corner-down-right'"
        [routerLink]="['/home/cities', city.id]"
        [queryParams]="{ name: city.name }"
    />
</div>