.background {
    display: flex;
    border-radius: 12px;
    background-size: cover;
}

.main {
    display: flex;
    width: 100%;
    flex-direction: column;
    box-sizing: border-box;
    padding: 44px 28px;
    border-radius: 12px;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(0.5px);
    
    &__title {
        margin: 0;
        font-size: 52px;
        line-height: 60px;
        text-transform: uppercase;
    }

    &__place {
        margin: 0;
        margin-bottom: 24px;
        color: rgb(255, 255, 255, 0.6);
    }

    &__date {
        display: flex;
        gap: 8px;
        margin-bottom: 24px;
        align-items: center;
        font-size: 20px;
        line-height: 24px;
        font-weight: bold;
    }

    &__tags {
        display: flex;
        flex-wrap: wrap;
        width: fit-content;
        max-width: 562px;
        gap: 8px;
        padding-bottom: 24px;
        margin-bottom: 24px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.32);
    }

    &__buttons {
        display: flex;
        gap: 12px;
    }
}