<div class="main">
    <div class="main__left">
        <nav class="main__nav" tuiTabs vertical="right">
            <button
                *ngFor="let tab of tabs$ | async"
                class="main__nav-button"
                tuiTab
                type="button"
                [iconStart]="tab.icon"
                [routerLink]="tab.route"
                routerLinkActive="active"
            >
                {{ tab.name }}
            </button>
        </nav>
        <button
            class="main__logout-button"
            tuiButton
            size="s"
            appearance="action"
            type="button"
            iconEnd="log-out"
            (click)="onLogout()"
        >
            Выйти из аккаунта
        </button>
    </div>
    <div class="main__content">
        <router-outlet/>
    </div>
</div>
