.main {
    display: flex;
    padding: 0 50px;
    box-sizing: border-box;

    &__left {
        display: flex;
        position: sticky;
        top: 0;
        z-index: 2;
        flex-direction: column;
        align-items: flex-start;
        padding-right: 28px;
        border-right: 1px solid #ADADAD;
    }

    &__nav {
        &-button {
            padding: 0;
            justify-content: flex-start;
        }
    }

    &__logout-button {
        margin-top: auto;
        margin-left: 10px;
    }

    &__content {
        padding-left: 12px;
    }
}