.main {
    display: flex;
    padding: 0 50px;
    box-sizing: border-box;
    min-height: 78vh;

    &__left {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-right: 28px;
        border-right: 1px solid rgba(255, 255, 255, 0.15);
        font-weight: bold;
    }

    &__nav {
        &-button {
            padding: 0;
            justify-content: flex-start;
        }
    }

    &__logout-button {
        margin-top: auto;
        margin-left: 10px;
    }

    &__content {
        padding-left: 12px;
    }
}