.list {
    box-sizing: border-box;

    &__title {
        margin: 13px 0;
        margin-bottom: 26px;
        font-size: 52px;
        line-height: 44px;
        text-transform: uppercase;
    }

    &__cities {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        max-width: 1000px;
    }
}