<form [formGroup]="filters">
    <button
        appearance="outline-grayscale"
        tuiButton
        type="button"
        [tuiAppearanceMode]="length ? 'checked' : null"
        [tuiDropdown]="dropdown"
        [(tuiDropdownOpen)]="open"
        (keydown.delete)="filters.reset()"
    >
        {{ text }}
        <button
            appearance="icon"
            size="xs"
            tabindex="-1"
            tuiChevron
            tuiIconButton
            type="reset"
            [iconStart]="length ? '@tui.x' : ''"
            (mousedown.zoneless.prevent)="(0)"
        >
            Reset
        </button>
    </button>
    <ng-template #dropdown>
        <tui-data-list-wrapper
            formControlName="placeFilter"
            tuiMultiSelectGroup
            [items]="items"
        />
    </ng-template>
</form>
