.main {
    display: flex;
    flex-direction: column;
    gap: 24px;

    &__events-date {
        margin: 0;
        margin-bottom: 24px;
    }

    &__events-container {
        display: flex;
        flex-wrap: wrap;
        gap: 12px;
    }
}