<div class="cities-page">
  <div class="left">
    <app-tui-breadcrumbs [items]="breadcrumbsItems"/>
    <app-popular-cities-list 
      class="left__popular-cities-list"
      *ngIf="popularCitiesList$ | async as popularCitiesList" 
      [cities]="popularCitiesList"
    />
    <app-regions-cities-list 
      class="left__regions-list"
      *ngIf="regionsList$ | async as regionsList" 
      [groups]="regionsList"
    />
  </div>
  <div>
    <app-tui-tabs
      *ngIf="regionsTabs$ | async as regionsTabs" 
      [tabs]="regionsTabs"
    />
  </div>
</div>