.event-page {
    display: flex;
    flex-direction: column;
    padding: 0 50px;

    h2 {
        margin: 0;
        margin-bottom: 12px;
    }

    &__card {
        margin-top: 12px;
        margin-bottom: 24px;
    }

    &__content {
        display: flex;
        gap: 24px;
    }

    &__description {
        &-text {
            display: flex;
            max-width: 590px;
            white-space: pre-wrap;
            margin: 0;
            color: rgba(255, 255, 255, 0.72);
            font-size: 16px;
            line-height: 16px;
            font-weight: bold;
        }
    }

    &__details {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    &__organizer {
        &-info {
            display: flex;
            align-items: center;
            gap: 8px;
        }
    
        &-button {
            font-size: 12px;
            font-weight: bold;
        }
    }
    
    &__location {
        &-wrapper {
            display: flex;
            gap: 8px;
            align-items: center;
            font-size: 16px;
            line-height: 20px;
            font-weight: bold;
        }

        &-map {
            margin-top: 12px;
            border-radius: 12px;
            width: 726px;
            height: 504px;
            overflow: hidden;
        }
    }
}