.event-page {
    display: flex;
    flex-direction: column;
    padding: 0 50px;

    h2 {
        margin: 0;
        margin-bottom: 12px;
    }

    &__event-card {
        margin-top: 12px;
        margin-bottom: 24px;
    }

    &__info {
        display: flex;
        gap: 24px;
    }

    &__left {
        p {
            display: flex;
            max-width: 590px;
            white-space: pre-wrap;
            margin: 0;
            color: rgba(255, 255, 255, 0.72);
            font-size: 16px;
            line-height: 16px;
            font-weight: bold;
        }
    }

    &__organizer-info {
        display: flex;
        align-items: center;
        gap: 16px;
    }

    &__organizer-button {
        font-size: 12px;
        font-weight: bold;
    }
}