<div class="event-page">
    <app-tui-breadcrumbs [items]="breadcrumbsItems"/>
    <app-event-card
        class="event-page__card"
        [backgroundUrl]="event.image"
        [title]="event.title"
        [place]="event.place"
        [date]="event.date"
        [price]="event.price"
        [tags]="event.tags"
    />
    <div class="event-page__content">
        <div class="event-page__description">
            <h2>Описание</h2>
            <p class="event-page__description-text">{{ event.description }}</p>
        </div>
        <div class="event-page__details">
            <div class="event-page__organizer">
                <h2>Организатор</h2>
                <div class="event-page__organizer-info">
                    <app-organizer-card
                        class="event-page__organizer-card"
                        [image]="organizer.image"
                        [name]="organizer.name"
                        [subsCount]="organizer.subsCount"
                        [eventsCount]="organizer.eventsCount"
                    />
                    <app-tui-secondary-button
                        class="event-page__organizer-button"
                        buttonText="Подписаться"
                        size="xs"
                    />               
                </div>
            </div>
            <div class="event-page__location">
                <h2>Место</h2>
                <div class="event-page__location-wrapper">
                    <tui-icon icon="map-pin"/>
                    <span class="event-page__location-name">{{ regionCityLocation }}</span>
                </div>
            </div>
        </div>
    </div>
</div>
