.main {
    display: flex;
    flex-direction: column;
    padding: 0 12px;

    &__title {
        margin: 0;
        font-size: 40px;
    }

    &__events {
        display: flex;
        flex-wrap: wrap;
        gap: 12px;
        margin-bottom: 24px;
    }

    &__event {
        &-delete-button {
            z-index: 10;
        }
    }

    &__delete-all-events-button {
        color: white;
    };
}