.events-page {
    display: flex;
    flex-direction: column;
    padding: 0 50px;
    box-sizing: border-box;

    &__title {
        margin: 12px 0;
        margin-bottom: 12px;
        font-size: 52px;
        line-height: 52px;
        text-transform: uppercase;
    }

    &__city-location {
        display: flex;
        color: rgb(255, 112, 67);
    }

    &__events-list {
        margin-top: 24px;
    }

    &__search-results {
        font-family: "Space Grotesk", sans-serif;
        font-size: 20px;
        text-transform: uppercase;
        font-weight: 300;

        &-container {
            display: flex;
            align-items: center;
            min-height: 44px;
            max-width: 452px;
            gap: 12px;
        }
    }

    &__filter-wrapper{
      display: flex;
      flex-direction: row;
      gap: 12px;
    }

    &__filter-dropdown {
        margin-top: 12px;
        display: flex;
        flex-direction: column;
        border-radius: 12px;
        background-color: #333333;
        border-color: #2C2C2E;
        width: fit-content;
        padding: 8px;
        gap: 8px;

        &-item {
          display: flex;
          align-items: center;
          padding: 8px;
          gap: 10px;

          &-label {
            font-size: 16px;
            color: #FFFFFF;
          }
        }
    }
}
