.main {
    display: flex;
    justify-content: flex-start;
    height: 80px;
    padding: 12px;
    border-radius: 12px;
    color: white;
    align-items: center;
    font-size: 12px;
    line-height: 20px;
    font-weight: bold;

    &__info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
    }

    &__avatar {
        margin: 0;
    }

    &__title {
        margin: 0;
        font-size: 16px;
    }

    &__subs-count {
        color: rgba(255, 255, 255, 0.6);
    }

    &__subscribe-button {
        margin: 0;
        margin-left: 4px;
        color: white;
    }
}