.main{
  height: 640px;
  width: 640px;
  background-color: #121212;
  border-radius: 16px;
  border: 4px solid #FF6A00;
  -webkit-box-shadow: 0px 10px 45.9px 0px rgba(255, 106, 0, 1);
  -moz-box-shadow: 0px 10px 45.9px 0px rgba(255, 106, 0, 1);
  box-shadow: 0px 10px 45.9px 0px rgba(255, 106, 0, 1);
  display: flex;
  margin: auto;


  &__nav {
    margin: 20px;
  }

  &_log-reg {
    justify-content: center;
  }
}
