<div class="main">
  <div class="main__nav">
    <app-tui-flat-button
      buttonIconLeft="chevron-left"
      buttonText="Назад"
      buttonSize="xs"
      (click)="goBack()"
    />
    <!-- [x] TODO: Сделать редирект на предыдущую страницу -->
  </div>
  <div class="main__content">
    <div *ngIf="hasAccount; then login else register"></div>
    <ng-template #login>
      <app-login-form (switchToRegister)="toggleForm()"/>
    </ng-template>
    <ng-template #register>
      <app-register-form (switchToLogin)="toggleForm()"/>
    </ng-template>  
  </div>
</div>
