.background {
    display: flex;
    background-size: cover;
    border-radius: 16px;
}

button {
    background-color: rgba(0, 0, 0, 0.1);
    padding: 0;
    width: 250px;
    height: 140px;
    border-radius: 16px;
    font-size: 40px;
    line-height: 44px;
    font-weight: bold;
    color: white;
    border: none;
    cursor: pointer;
    backdrop-filter: blur(0.7px);
    transition: 0.4s ease-in-out;
}

button:hover {
    background-color: rgba(0, 0, 0, 0.4);
}

button:active {
    background-color: rgba(0, 0, 0, 0.6);
}    
