.main {
    display: flex;
    gap: 8px;
    align-items: center;
    font-weight: bold;

    &__info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__title {
        margin: 0;
        margin-bottom: 4px;
        font-size: 16px;
        line-height: 20px;
    }

    &__subs-count {
        color: rgba(255, 255, 255, 0.6);
    }

    .info-count {
        font-size: 12px;
        line-height: 16px;
    }
}