<div class="main" *ngIf="user$ | async as user">
    <div class="main__account">
        <app-avatar 
            class="main__account-avatar"
            [user]="user"
        />
        <div class="main__account-text-wrapper">
            <ng-container *ngIf="usernameEditable$.value; then usernameInputTemplate else usernameTemplate"/>
            <ng-template #usernameTemplate>
                <div class="main__account-text">
                    <h1 class="main__account-text-name">
                        {{ user.username }}
                    </h1>
                    <p class="main__account-text-email">
                        {{ user.email }}
                    </p>
                </div>
                <button
                    class="main__account-text-edit-button"
                    tuiButton
                    iconStart="pen"
                    size="s"
                    appearance="action"
                    (click)="usernameEditable$.next(true)"
                >
                </button>
            </ng-template>
            <ng-template #usernameInputTemplate>
                <div class="main__account-text">
                    <form 
                        class="main__account-text-username-change"
                        #usernameInput
                        [formGroup]="usernameChangeForm"
                    >
                        <tui-textfield 
                            class="main__account-text-username-change-input"
                            tuiTextfieldSize="l"
                        >
                            <input
                                formControlName="username"
                                placeholder="Новое имя"
                                tuiTextfield 
                                type="text"
                            />
                        </tui-textfield>
                        <tui-error
                            class="main__account-text-username-change-error"
                            formControlName="username"
                            [error]="[] | tuiFieldError | async"
                        />
                    </form>
                    <p class="main__account-text-email">
                        {{ user.email }}
                    </p>
                </div>
                <button
                    class="main__account-text-edit-button"
                    tuiButton
                    iconStart="check"
                    size="s"
                    appearance="action"
                    (click)="onUsernameChange(user)"
                >
                </button>
            </ng-template>
        </div>
    </div>
    <form class="main__password-change" [formGroup]="passwordChangeForm">
        <h2 class="main__password-change-title">Сменить пароль</h2>
        <tui-textfield 
            class="main__password-change-input"
            tuiTextfieldSize="m"
        >
            <input
                formControlName="currentPassword"
                placeholder="Текущий пароль"
                tuiTextfield 
                type="password"
            />
            <tui-icon tuiPassword/>
        </tui-textfield>
        <tui-error
            class="main__password-change-input-error"
            formControlName="currentPassword"
            [error]="[] | tuiFieldError | async"
        />
        <tui-textfield 
            class="main__password-change-input"
            tuiTextfieldSize="m"
        >
            <input
                formControlName="newPassword"
                placeholder="Новый пароль"
                tuiTextfield 
                type="password"
            />
            <tui-icon tuiPassword/>
        </tui-textfield>
        <tui-error
            class="main__password-change-input-error"
            formControlName="newPassword"
            [error]="[] | tuiFieldError | async"
        />
        <tui-textfield 
            class="main__password-change-input"
            tuiTextfieldSize="m"
        >
            <input
                formControlName="confirmPassword"
                placeholder="Повторите новый пароль"
                tuiTextfield 
                type="password"
            />
            <tui-icon tuiPassword/>
        </tui-textfield>
        <tui-error
            class="main__password-change-input-error"
            formControlName="confirmPassword"
            [error]="[] | tuiFieldError | async"
        />
        <button
            class="main__password-change-button"
            tuiButton
            size="s"
            appearance="accent"
            type="button"
            [textContent]="'Сохранить'"
            (click)="onPasswordChange(user)"
        >
        </button>
        <tui-error 
            *ngIf="passwordChangeError"
            style="margin-top: 16px;"
            [error]="passwordChangeError"
        />
    </form>
</div>