.main {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  height: 100%;
  padding: 40px 0;
  justify-content: space-between;

  &__title {
    margin: 0 auto;
    font-size: 48px;
    line-height: 60px;
  }

  &__footer {
    margin: 0 auto;
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
  }
}

.form {
  display: flex;
  flex-direction: column;


  &__error {
    margin-bottom: 24px;
  }
}