.main {
    --tui-carousel-padding: 0 24px;

    display: flex;
    flex-direction: column;
    gap: 24px;

    &__carousel {
        &-wrapper {
            display: flex;
            align-items: center;
        }
    }
}